<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<br><br>
<h1>Lista Contas</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Agência</th>
    <th>Tipo</th>
    <th>Saldo</th>
    <th>Operações</th>
  </tr>

  @foreach (Conta conta in ViewBag.Contas)
  {
    <tr>
      <td>@conta.Cliente.Nome</td>
      <td>@conta.Agencia</td>
      <td>@conta.Tipo</td>
      <td>@conta.Saldo</td>
      <td>
        <a class="btn btn-warning" href="/conta/@conta.Id">Editar</a>
        <a class="btn btn-danger" href="#" onclick="excluir('/conta/@conta.Id/excluir')">Excluir</a>
      </td>
    </tr>
  }

</table>

<script>
  function excluir(url) {
    if (confirm("deseja realmente excluir?")) {
      window.location.href = url
    }
  }
</script>