@{
    ViewData["Title"] = "Jefferson Programador";
}
<ul type="none">
    <li><a href="/cliente/cadastrar" role="button" class="btn btn-primary px-5">Cadastrar Cliente</a></li>
    <li><a href="#">Segundo</a></li>
    <li><a href="#">Terceiro</a></li>
</ul>